{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<a href="{% url 'home' %}"><img src="{% static 'img/logobig.png' %}" class = "center-block" height="300"></a>
<h1 class='text-center'>Password Reset</h1>
<p class='text-center lead'>Reset your password using your email below.</p>
<form method="post" action=".">
  {% csrf_token %} 
    {{ form|crispy }}

  <input class='btn btn-block btn-lg btn-primary' type="submit" value="{% trans 'Reset' %}" />
</form>
</div></div></div>
{% endblock %}


