{% load staticfiles %}

 <!-- start: Meta -->
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        
        <link href="{% static 'css/animate.min.css" rel="stylesheet' %}" />
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <link rel='shortcut icon' type='image/x-icon' href="{% static 'img/favicon.ico' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link id="base-style-responsive" href= "{% static 'css/style-responsive.css' %}" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{% static 'css/dc.css' %}">
                    <link id="base-style" href="{% static 'css/stylenew.css' %}" rel="stylesheet">
                    <link id="base-style" href="{% static 'css/search.css' %}" rel="stylesheet">
                    <link rel="stylesheet" href="{% static 'css/pricing.css' %}">


        <title>29th Century | Data of the Future</title>