
{% load crispy_forms_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
       <!-- start: Header -->
      
        
              <meta name="viewport" content="width=device-width, initial-scale=1">
              <link rel="stylesheet" href="{% static 'css/loadingstyle.css' %}" />
              <style>
                .y100 { min-height: 100vh }
              </style>
              {% include 'head.html' %}

    </head>
    <body class="white bg-dark">
        {% include 'navbar2.html' %}


{% if stat == "new" %}
          <div class="table y100 center bg-green">
    <div class="table-cell py4">
      <img src="{% static 'img/loading-cylon-red.svg' %}" width="128" height="64" />
      <h1 class="row m-t-lg m-b">Hi There!</h1>
      <h4 class="mb2">Soon you'll be making much better decisions with your data</h4>
      <h4 class="mb2">But first, we want to get to know you :)</h4>
      <span class="cd-pricing"><a href="{% url 'profile' %}" class="btn btn-primary btn-xlarge">Let's get started!</a></span>
    </div>
        </div>
{% else %}
    <div class="table y100 center bg-blue">
    <div class="table-cell py4">
      <img src="{% static 'img/loading-bubbles.svg' %}" width="64" height="64" />
      <h1 class="row m-t-lg m-b">That's it!</h1>
      <h4 class="mb2">One of our trained monkeys will do their magic within the next 24 hours</h4>
      <h4 class="mb2">PS. We'll email you when it's ready!</h4>
    </div>
        </div>
{% endif %}

    </body>
</html>

